本章节将介绍python中常用到的几个堪称瑞士军刀的效率工具：列表表达式、iterrows、itertuples()

# 列表表达式

**列表表达式（List Comprehension）**是Python中一种非常强大且简洁的语法，用于从一个可迭代对象（如列表、元组、字典、集合、生成器等）生成新的列表

## 基本语法

**[表达式 for 变量 in 可迭代对象 if 条件]**：
- **表达式**：生成新列表中每个元素的逻辑
- **变量**：可迭代对象中的每个元素。
- **可迭代对象**：可迭代对象，如列表、元组、字典、集合、生成器等。
- **条件**：过滤条件（可选）

**等价于**：

for 变量 in 可迭代对象:
    
    if 条件:
    
        表达式

## 与for循环的区别

In [15]:
# 传统的for循环
result = []
for i in range(5):
    result.append(i)
result  # 输出：[0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

In [16]:
# 使用列表表达式实现相同功能
result = [i for i in range(5)]
result  # 输出：[0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

## 列表表达式使用场景

### 基本用法

In [17]:
# 生成一个包含0到9的平方的列表
squares = [x * x for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
# 等价于
squares = []
for x in range(10):
    squares.append(x*x)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### 带条件语句

In [22]:
# 将一个列表中的所有字符串转换为大写
words = ["apple", "banana", "cherry"]
upper_words = [word.upper() for word in words if word.endswith('a')]
upper_words

['BANANA']

In [23]:
# 等价于
upper_words = []
for word in words:
    if word.endswith('a'):
        upper_words.append(word.upper())
upper_words

['BANANA']

### 多层循环

In [24]:
# 生成一个包含所有可能的坐标点的列表
points = [(x, y) for x in range(3) for y in range(3)]
points

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [25]:
# 等价于
points = []
for x in range(3):
    for y in range(3):
        points.append((x, y))

print(points)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

# iterrows()

**iterrows()**方法用于逐行迭代式地获取 DataFrame 的行数据。每次迭代返回dataFrame的行索引和行数据，从而实现对DataFrame的处理

## 基本定义

**DataFrame.iterrows()**：
- **作用**：返回一个生成器，用于遍历 DataFrame 的每一行。
- **返回值**：每次迭代会返回一个 (index, Series) 元组，其中：
    - index：是当前行的索引。
    - Series是当前行的数据。

## iterrows()使用场景

In [26]:
import pandas as pd

# 创建一个 DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [27]:
# 使用 iterrows 遍历每一行
for index, row in df.iterrows():
    print(f"Index: {index}")
    print(f"Row Data:\n{row}")
    print("-" * 20)

Index: 0
Row Data:
Name       Alice
Age           25
City    New York
Name: 0, dtype: object
--------------------
Index: 1
Row Data:
Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object
--------------------
Index: 2
Row Data:
Name        Charlie
Age              35
City    Los Angeles
Name: 2, dtype: object
--------------------

# itertuples()

## 基本定义

**itertuples()**与iterrows()类似，用于逐行迭代式地获取 DataFrame 的行数据。

与iterrows()不同的是，itertuples()返回的是一个命名元组（namedtuple），而不是行索引和行对象，而且itertuples()的效率也更高

**itertuples(index=True)**
- index：布尔值，表示是否包括行索引。默认为 True

## itertuples()使用场景

In [30]:
import pandas as pd

# 创建一个 DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [37]:
# 使用 itertuples() 遍历每一行
for row in df.itertuples():
    print(f"row: {row}")
    print(f"Index: {row.Index}")
    print(f"Name: {row.Name}, Age: {row.Age}, City: {row.City}")
    print()

row: Pandas(Index=0, Name='Alice', Age=25, City='New York')
Index: 0
Name: Alice, Age: 25, City: New York

row: Pandas(Index=1, Name='Bob', Age=30, City='Los Angeles')
Index: 1
Name: Bob, Age: 30, City: Los Angeles

row: Pandas(Index=2, Name='Charlie', Age=35, City='Chicago')
Index: 2
Name: Charlie, Age: 35, City: Chicago

In [38]:
# 使用 itertuples() 遍历每一行
for row in df.itertuples(index=False):
    print(f"row: {row}")
    print(f"Name: {row.Name}, Age: {row.Age}, City: {row.City}")
    print()

row: Pandas(Name='Alice', Age=25, City='New York')
Name: Alice, Age: 25, City: New York

row: Pandas(Name='Bob', Age=30, City='Los Angeles')
Name: Bob, Age: 30, City: Los Angeles

row: Pandas(Name='Charlie', Age=35, City='Chicago')
Name: Charlie, Age: 35, City: Chicago