# concat

concat函数用于将多个Dataframe沿指定的轴（行或列）进行拼接

## concat()函数语法解析

**pandas.concat(objs, axis, ignore_index, keys, sort)**：
- **objs**：需要合并的DataFrame对象
- **axis**：
    - 0：表示沿行（竖直方向）拼接，默认值
    - 1：表示沿列（水平方向）拼接
- **ignore_index**：
    - True：保留原索引，默认值
    - False：重置索引
- **keys**：为拼接后的结果添加层次化索引，用于区分数据来源
- **sort**：是否对列或索引排序，默认为 False

## 垂直拼接

In [1]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df1

   A  B
0  1  3
1  2  4

In [2]:
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df2

   A  B
0  5  7
1  6  8

In [3]:
result0 = pd.concat([df1, df2], axis=0)
result0

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

## 水平拼接

In [4]:
result1 = pd.concat([df1, df2], axis=1)
result1

   A  B  A  B
0  1  3  5  7
1  2  4  6  8

## 使用 keys 添加层次化索引

In [5]:
pd.concat([df1, df2], keys=['df1', 'df2'])

       A  B
df1 0  1  3
    1  2  4
df2 0  5  7
    1  6  8

## 重置索引

In [7]:
pd.concat([df1, df2], ignore_index=True)

   A  B
0  1  3
1  2  4
2  5  7
3  6  8