# stack()与unstack()

## stack

stack()方法将DataFrame的列名称转化为行索引

stack()适用于宽表转长表，适用于分组分析、数据清洗和整理

**DataFrame.stack()**

## unstack()

unstack()方法将行索引转换为列名称

unstack()适用于长表转宽表，适用于多级索引和汇总操作

**DataFrame.unstack()**

## 形象化示例

In [5]:
import pandas as pd

# 创建宽表
data = pd.DataFrame({
    '地区': ['北京', '上海', '深圳'],
    '1月': [1000, 1500, 1300],
    '2月': [1200, 1600, 1400],
    '3月': [1100, 1700, 1350]
})
data

   地区    1月    2月    3月
0  北京  1000  1200  1100
1  上海  1500  1600  1700
2  深圳  1300  1400  1350

In [11]:
data_long = data.set_index('地区').stack().reset_index()
data_long.columns = ['地区', '月份', '销售额']
data_long

   地区  月份   销售额
0  北京  1月  1000
1  北京  2月  1200
2  北京  3月  1100
3  上海  1月  1500
4  上海  2月  1600
5  上海  3月  1700
6  深圳  1月  1300
7  深圳  2月  1400
8  深圳  3月  1350

In [3]:
data_wide = data_long.set_index(['地区', '月份']).unstack().reset_index()
data_wide.columns = ['地区', '1月', '2月', '3月']
data_wide

   地区    1月    2月    3月
0  上海  1500  1600  1700
1  北京  1000  1200  1100
2  深圳  1300  1400  1350