# **sort(key, reverse)**

对列表进行原地排序，改变原始数据

- **key**：用于从每个元素中提取排序键的函数
- **reverse**：
    - False：升序排序。默认值    
    - True：降序排序

## reverse

In [19]:
nums = [3,1,5,6,2,3,6,7,1,7]
nums.sort(reverse=True)
nums

[7, 7, 6, 6, 5, 3, 3, 2, 1, 1]

## key

In [20]:
words = ['apple', 'banana', 'cherry', 'date']
# 按字符串的长度排序
words.sort(key=len)
words

['date', 'apple', 'banana', 'cherry']

In [21]:
students = [
    {'name': 'Alice', 'score': 85},
    {'name': 'Bob', 'score': 92},
    {'name': 'Charlie', 'score': 78},
    {'name': 'David', 'score': 88}
]
# 按照 'score' 字段排序
students.sort(key=lambda x: x['score'])
students

[{'name': 'Charlie', 'score': 78},
 {'name': 'Alice', 'score': 85},
 {'name': 'David', 'score': 88},
 {'name': 'Bob', 'score': 92}]

In [22]:
students = [
    {'name': 'Alice', 'score': 85},
    {'name': 'Bob', 'score': 92},
    {'name': 'Charlie', 'score': 85},
    {'name': 'David', 'score': 88}
]

# 按照 'score' 排序，如果分数相同，则按 'name' 排序
students.sort(key=lambda x: (x['score'], x['name']))
students

[{'name': 'Alice', 'score': 85},
 {'name': 'Charlie', 'score': 85},
 {'name': 'David', 'score': 88},
 {'name': 'Bob', 'score': 92}]

# **sorted(iterable,key, reverse)**

对任何可迭代对象进行排序（不只是列表）。且返回一个新的已排序的列表，不改变原始数据

- **iterable**：任何可迭代对象，如列表、元组、字符串等
- **key**：用于从每个元素中提取排序键的函数
- **reverse**：
    - False：升序排序。默认值    
    - True：降序排序

## reverse

In [30]:
nums = [3,1,5,6,2,3,6,7,1,7]
nums = sorted(nums, reverse=True)

In [31]:
nums

[7, 7, 6, 6, 5, 3, 3, 2, 1, 1]

## key

In [32]:
words = ['banana', 'apple', 'cherry', 'date']
sorted_words = sorted(words, key=len)
sorted_words

['date', 'apple', 'banana', 'cherry']

In [33]:
students = [
    {'name': 'Alice', 'score': 85},
    {'name': 'Bob', 'score': 92},
    {'name': 'Charlie', 'score': 78},
    {'name': 'David', 'score': 88}
]
# 根据 'score' 字段排序
sorted_students = sorted(students, key=lambda x: x['score'])
sorted_students

[{'name': 'Charlie', 'score': 78},
 {'name': 'Alice', 'score': 85},
 {'name': 'David', 'score': 88},
 {'name': 'Bob', 'score': 92}]

In [35]:
students = [
    {'name': 'Alice', 'score': 85},
    {'name': 'Bob', 'score': 92},
    {'name': 'Charlie', 'score': 85},
    {'name': 'David', 'score': 88}
]

# 按照 'score' 排序，如果分数相同，则按 'name' 排序
sorted_students = sorted(students, key=lambda x: (x['score'], x['name']))
sorted_students

[{'name': 'Alice', 'score': 85},
 {'name': 'Charlie', 'score': 85},
 {'name': 'David', 'score': 88},
 {'name': 'Bob', 'score': 92}]